###############################################################################
# Editor & IDE
###############################################################################
*.swp
*.swo
.idea/
.vscode/

###############################################################################
# Environment & Config
###############################################################################
.env
.env.*
.env-*

###############################################################################
# Logs & Reports
###############################################################################
*.log
*.out
*.pid
*.pid.lock
.logs/
coverage.xml
sitemap.xml

###############################################################################
# Operating System
###############################################################################
.AppleDouble
.DS_Store
.LSOverride
Desktop.ini
Thumbs.db

###############################################################################
# Python
###############################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
.eggs/
.installed.cfg
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
MANIFEST
parts/
sdist/
share/python-wheels/
var/
wheels/
images/
*.egg
*.egg-info/

# Installer logs
pip-delete-this-directory.txt
pip-log.txt

# Test & coverage
.cache
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.tox/
cover/

###############################################################################
# Virtual Environments
###############################################################################
.venv/
env/
ENV/
venv/

###############################################################################
# Docs
###############################################################################
site/
