+++
title = "Hi from Jailrun"
date = "{{ lookup('pipe', 'date -u +%Y-%m-%dT%H:%M:%SZ') }}"
draft = false
+++

Welcome! This is a Hugo site built and served by [Jailrun](https://github.com/hyphatech/jailrun).
