baseURL = "{{ HUGO_BASE_URL }}"
languageCode = "en-us"
title = "{{ hugo_site_title | default('Jailed Hugo') }}"
theme = "{{ HUGO_THEME }}"

[params]
  mainSections = ["posts"]

[menus]
  [[menus.main]]
    name = "Posts"
    pageRef = "/posts"
    weight = 10
