user  www;
worker_processes  1;

events {
  worker_connections  1024;
}

http {
  include            mime.types;
  default_type       application/octet-stream;

  sendfile           on;
  keepalive_timeout  65;

  access_log         {{ NGINX_ACCESS_LOG }};
  error_log          {{ NGINX_ERROR_LOG }};

  server {
    listen           {{ NGINX_LISTEN_PORT }};
    server_name      {{ NGINX_SERVER_NAME }};

    root             {{ NGINX_ROOT }};
    index            {{ NGINX_INDEX_FILE }};

    location / {
      try_files $uri $uri/ =404;
    }
  }
}
